#content {
    background-color: blue;
    margin-left: calc(5rem + 1vw);
    margin-top: calc(3rem + 1vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200rem;
}

h2 {
    background-color: white;
    font-size: calc(1.5rem + 1.5vw);
}

#content-body {
    background-color: greenyellow;
    width: 80%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.content-item {
    height: calc(1.2rem + 2vw);
    width: calc(13rem + 8vw);
    background-color: hotpink;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: white;
}